/* src/pages/WatchlistPage.css */
.container {
    padding: 20px;
  }

  .body-for-watchlist{
    color: #ffffff;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    
  }

  .movie-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    margin-bottom: 30px;
  }
  


  .watchlist-title{
    color: rgb(255, 255, 255);
    margin-bottom: 30px; 
    text-align: center;
  }
  

  
  .watchlist-back-btn {
    text-align: center;
    margin-top: 20px;
  }
  
.watchlist-back-btn .btn {
  margin: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
}